{% extends 'base.html' %}

{% block content %}
    <h1>Alla personer</h1>
    <table>
        <tr><th>name</th><th>email</th><th>age</th></tr><th>country</th><th>position</th>
        {% for person in persons %}
            <tr>
                <td><a href="{{ url_for('person', id=person.id) }}">{{ person.name }}</a></td>
                <td>{{ person.email }}</td>
                <td>{{ person.age }}</td>
                <td>{{ person.country }}</td>
                <td>{{ person.position }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
